:root {
    --primary-color: #FFFFFF; /* สีหลัก */
    --secondary-color: #; /* สีรอง */
    --background-color: #f3f4f6; /* สีพื้นหลัง */
    --text-color: #1f2937; /* สีตัวอักษร */
    --border-radius: 8px; /* ขอบมน */
    --padding: 16px; /* ระยะห่าง */
}

/*-- ตัวอย่างวิธีใช้
ใช้ใน css 
background-color: var(--primary-color);

tailwind 
bg-primar สามารถใส่ได้เลย
--*/
* {
  font-family: 'Montserrat', sans-serif;
}
